<div class="mt-5">
    <h4>500 Internal Server Error - refreshing the page will make the exception disapper</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p>Note: If you are seeing this then Angular is probably not responsible</p>
        <p>What to do next?</p>
        <ol>
            <li>Open Chrome dev tools</li>
            <li>Inspect the network tab</li>
            <li>Check the failing request</li>
            <li>Investigate the the request - url</li>
            <li>Reproduce the error in Postman</li>
        </ol>
        <p>Following is the stack trace</p>
        <code class="mt-5" style="background-color:whitesmoke">{{error.details}}</code>
    </ng-container>
</div>
