<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
    Order Summary
</div>

<div class="p-4">
    <p class="font-italic mb-4">
        Shipping costs will be added depending on choices made during checkout
    </p>
    <ul class="list-unstyled mb-4" *ngIf="(basketTotals$|async) as total">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong>Order Subtotal</strong>
            <strong>{{total.subtotal|currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong>Shipping and Handling</strong>
            <strong>{{total.shipping|currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong>Total</strong>
            <strong>{{total.total|currency}}</strong>
        </li>

    </ul>
</div>
