<div class="container mt-2">



<div *ngIf="(basket$|async)===null">
    <p>There are no items in your basket</p>

</div>

<div *ngIf="(basket$|async) as basket">

    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 py-5 mb-1">
                    <app-basket-summary
                        (decrement)="decrementItemQuantity($event)"
                        (increment)="incrementItemQuantity($event)"
                        (remove)="removeBasketItem($event)">
                    </app-basket-summary>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-totals></app-order-totals>
                    <a routerLink="/checkout"  class="btn btn-primary py-2 btn-block">
                        Proceed To Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
