<div class="card h-100 shadow-sm">
  <div class="image position-relative" style="cursor: pointer;">
    <img class="img-fluid bg-info" src="{{product.pictureUrl}}" alt="{{product.name}}">
    <div class="d-flex align-items-center justify-content-center hover-overlay">
      <button (click)='addItemToBasket()' type="button" class="btn btn-primary fa fa-shopping-cart mr-2"></button>
        <button type="button" class="btn btn-primary" routerLink="/shop/{{product.id}}">View</button>
    </div>
  
  </div>
  <div class="card-body d-flex flex-column">
        <a  routerLink="/shop/{{product.id}}">
            <h6 class="text-uppercase">{{product.name}}</h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>
  </div>
</div>
