<div class="container mt-3">
    <div class="row">

        <section class="col-3">
            <ng-container *ngIf="types && brands">
            <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>
            <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
                <option *ngFor="let sort of sortOptions"
                [value]="sort.value">{{sort.name}}</option>
            </select>
            <h5 class="text-warning ml-3">Brands</h5>
            <ul class="list-group my-3" >
                <li class="list-group-item"
                 *ngFor="let brand of brands"
                 [class.active]="brand.id === this.shopParams.brandId"
                 [value]="brand.id"
                 (click)="onBrandSelected(brand.id)">{{brand.name}}</li>
              </ul>

              <h5 class="text-warning ml-3">Types</h5>
              <ul class="list-group my-3" >
                <li class="list-group-item" 
                *ngFor="let type of types"
                [class.active]="type.id === this.shopParams.typeId"
                [value]="type.id"
                (click)="onTypeSelected(type.id)">{{type.name}}</li>
              </ul>
              </ng-container>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">

                <app-paging-header
                [totalCount]="totalCount"
                [pageSize]="this.shopParams.pageSize"
                [pageNumber]="this.shopParams.pageNumber">

                </app-paging-header>

                <div class="form-inline mt-2" *ngIf="products">
                    <input (keyup.enter)="onSearch()" #search class="form-control mr-2" style="width: 300px;" type="text" placeholder="Search">
                    <button class="btn btn-outline-primary my-2" (click)="onSearch()">Search</button>
                    <button class="btn btn-outline-success ml-2 my-2"(click)="onReset()">Reset</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4 mb-4" *ngFor="let product of products">
                  <app-product-item [product] = "product"></app-product-item>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="this.totalCount && this.totalCount>0">
                <app-pager
                    [pageSize]="this.shopParams.pageSize"
                    [totalCount]="totalCount"
                    (pageChanged)="onPageChanged($event)">
                </app-pager>

            </div>
            
        </section>
    </div>
</div>
