.cart-no{
    position: absolute;
    min-width: 25px;
    min-height: 25px;
    font-size: 1em;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
    border-radius: 50%;
    background: blue;
}

a{
    text-decoration: none;
    color: #343a40;

    &.active{
        color: orange;
    }
}

.logo{
    cursor: pointer;
    
    &:focus{
        outline: none;
    }
}